#slider {
    display: table-cell;
    vertical-align: middle;
}

.knob {
    display: contents;
}

.filter-buttons { 
    width: 134px;
    height: 52px;
}

#waveform {
    position: relative;
}

.ratio-option {
    font-size: 15px;
}

.freesound-color-btn {
    background-color: #AB4646 !important;
    border-color: #AB4646 !important;
}
